demos/RestApplication/data/xsd/mainflow.objects.logcomment.request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="logcomment">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="xs:string" minOccurs="0" />
                <xs:element name="contents" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
