demos/RestApplication/data/xsd/mainflow.repairs.photo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="observer">
    <xs:complexType>
      <xs:all>
        <xs:element name="filename" type="xs:string" />
        <xs:element name="size" type="xs:integer" />
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>