demos/RestApplication/data/xsd/mainflow.repairs.search.request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="search">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="object" type="xs:anyURI" />
                <xs:element name="led" type="xs:anyURI" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>