demos/RestApplication/data/xsd/mainflow.repairs.photo.request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="photo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string" />
                <xs:element name="type" type="xs:string" />
                <xs:element name="size" type="xs:int" />
                <xs:element name="data" type="xs:base64Binary" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>